@import "globals";

#apply {
  .column_one {
    width: 60%;
    float: left;
    margin-right: 5%;
    .home_text {
      padding-top: 20px;
      margin-bottom: 30px;
      h1 {
        color: #53514C;
        font-family: $fontsBitter;
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 15px;
      }
    }
    h3.application_deadline {
      color: #800811;
      font-weight: bold;
      font-size: 21px;
    }
    ul.home {
      padding-bottom: 65px;
    }
    ul li.step {
      padding: 0 5.5%;
      width: 26%;
      font-family: $fontsBitter;
      img {
        width: 100%;
        height: auto;
      }
      &.center {
        padding: 0;
        margin: 0;
      }
      span.number {
        display: block;
        width: 25%;
        float: left;
        font-size: 30px;
      }
      span.description {
        display:block;
        float: left;
        width: 75%;
        font-size: 15px;
      }
    }
  }
  .column_two {
    width: 35%;
    float: left;
    #login_container {
      margin-top: 50px;
      width: 80%;
      border-left: 1px solid #dddad4;
    }
  }
}
section#why_apply {
  padding-bottom: 30px;
  .home_text {
    padding-top: 40px;
    margin-bottom: 10px;
  }
  #why_apply_video {
    margin: auto 0;
    margin-top: 30px;
    width: 100%;
  }
  span.important {
    font-family: $fontsBitter;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
  }
}
