@import "globals";

div#sign_up, div#account_settings {
  legend {
    font-size: 36px;
    font-family: "Bitter", serif;
    font-weight: bold;
    color: #706d67;
  }
  label {
    font-size: 20px;
    line-height: 45px;
  }
  .form-actions {
    background-color: #FBF9F9;
    border: none;
  }
}

form#new_user {
  input[type="text"], input[type="email"], input[type="password"], input[type="file"], textarea {
    width: 60%;
  }  
}
